.real {
  padding: 95px 0px;
  @include laptop {
    padding: 65px 0px;
  }
  @include tablet {
    padding: 50px 0px;
  }
  &__container {
    display: flex;
    align-items: center;
    gap: 24px;
    @include tablet {
      flex-direction: column;
    }
  }
  &__info {
    flex: 0 1 795px;
    @include tablet {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      flex: none;
    }
  }
  &__tag {
    margin-bottom: 32px !important;
  }
  &__title {
    margin: 0px 0px 32px 0px;
    @include tablet {
      max-width: 500px;
    }
  }
  &__btn {
    width: fit-content;
  }
  &__img {
    width: 500px;
    @include laptop-min {
      width: 250px;
    }
    @include tablet {
      width: 350px;
    }
  }
}