<section class="connection" id="connection">
  <div class="section-body _main connection__body">
    <img src="@img/frame-big-p.svg" alt="decor" class="connection__decor _big">
    <img src="@img/frame-min-p.svg" alt="decor" class="connection__decor _min">
    <div class="container">
      <h2 class="connection__title">
        Подключайтесь к Motive.Review уже сегодня
      </h2>
      <p class="connection__content">
        Заполните форму ниже или свяжитесь с нами удобным способом — наш
        специалист проконсультирует вас по работе платформы и поможет получить
        доступ к сервису.
      </p>
      <form action="#" class="connection__form">
        <div class="connection__form-item">
          <label for="name" class="connection__input-name"> Имя </label>
          <input
            type="text"
            placeholder="Иван"
            id="name"
            required
            class="connection__input"
          />
        </div>
        <div class="connection__form-item">
          <label for="name-company" class="connection__input-name">
            Название компании
          </label>
          <input
            type="text"
            placeholder="Motive.Review"
            id="name-company"
            required
            class="connection__input"
          />
        </div>
        <div class="connection__form-item">
          <label for="tel" class="connection__input-name"> Телефон </label>
          <input
            type="tel"
            placeholder="+7 800 555 44 33"
            id="tel"
            required
            class="connection__input _err"
          />
        </div>
        <div class="connection__form-item">
          <label for="mail" class="connection__input-name"> Почта </label>
          <input
            type="email"
            placeholder="ivan@gmail.com"
            id="mail"
            required
            class="connection__input _success"
          />
        </div>
        <div class="connection__form-item _fill">
          <label for="address" class="connection__input-name">
            Адрес сайта
          </label>
          <input
            type="text"
            placeholder="Motive.Review.ru"
            id="address"
            required
            class="connection__input"
          />
        </div>
        <button class="btn-main _white connection__btn _big">
          Зарегистрироваться
        </button>
      </form>
      <p class="connection__form-content">
        Нажимая на кнопку «Зарегистрироваться» вы подтверждаете, что
        ознакомились с Политикой конфиденциальности и Пользовательским
        соглашением и согласны и на обработку персональных данных
      </p>
    </div>
  </div>
</section>
