<footer class="footer">
  <div class="section-body footer__body">
    <div class="container">
      <div class="footer__top">
        <div class="footer__main">
          <a href="/" class="footer__logo">
            <img src="@img/logo.png" alt="logo" class="footer__logo-img" />
            <span>Motive Review</span>
          </a>
          <div class="footer__buttons">
            <a href="#connection" class="btn-main footer__btn anchor _big"
              >Попробовать бесплатно</a
            >
            <a href="#" class="btn-main _stroke footer__btn">
              <svg class="btn-main__icon">
                <use xlink:href="img/icons/icons.svg#icon-profile"></use>
              </svg>
              <span>Войти</span>
            </a>
          </div>
        </div>
        <nav class="footer__item">
          <h5 class="footer__item-title">Навигация</h5>
          <ul class="list footer__list">
            <li><a href="#about" class="anchor">О сервисе</a></li>
            <li><a href="#adv" class="anchor">Преимущества</a></li>
            <li><a href="#work" class="anchor">Как работает</a></li>
            <li><a href="#tariffs" class="anchor">Тарифы</a></li>
          </ul>
        </nav>
        <div class="footer__item">
          <h5 class="footer__item-title">Контакты</h5>
          <a href="#" target="_blank" class="footer__contacts-btn">
            <svg class="footer__contacts-icon">
              <use xlink:href="img/icons/icons.svg#icon-wh"></use>
            </svg>
            <span>WhatsApp</span>
          </a>
          <a href="#" target="_blank" class="footer__contacts-btn">
            <svg class="footer__contacts-icon">
              <use xlink:href="img/icons/icons.svg#icon-tg"></use>
            </svg>
            <span>Telegram</span>
          </a>
          <div class="footer__contacts-item">
            <span class="footer__contacts-title">Телефон для подключений:</span>
            <a href="tel:88005554433" class="footer__contacts-soc"
              >8 800 555 44 33</a
            >
          </div>
          <div class="footer__contacts-item">
            <span class="footer__contacts-title">Почта:</span>
            <a href="tel:88005554433" class="footer__contacts-soc"
              >ivan@gmail.com</a
            >
          </div>
        </div>
      </div>
			<div class="footer__bottom">
				<p class="footer__bottom-content">© Motive.Review 2024 Все права защищены</p>
				<a href="#" class="footer__bottom-content">Договор оферты</a>
				<a href="#" class="footer__bottom-content">Политика конфиденциальности</a>
			</div>
    </div>
  </div>
</footer>
