<section class="help" id="adv">
  <div class="section-body help__body">
    <div class="container">
      <span class="section-tag help__tag">teg</span>
      <h2 class="title-2 help__title">
        <span>Motive.Review</span> поможет Вам:
      </h2>
      <ul class="list help__list">
        <li class="help__item">
          <div class="help__circle">
            <img src="@img/h-1.svg" alt="icon" class="help__circle-icon" />
          </div>
          <p class="help__item-content">
            Улучшить рейтинги вашего бизнеса в онлайне
          </p>
        </li>
        <li class="help__item">
          <div class="help__circle">
            <img src="@img/h-2.svg" alt="icon" class="help__circle-icon" />
          </div>
          <p class="help__item-content">
            Получить реальную обратную связь от клиентов для дальнейшего развития
          </p>
        </li>
        <li class="help__item">
          <div class="help__circle">
            <img src="@img/h-3.svg" alt="icon" class="help__circle-icon" />
          </div>
          <p class="help__item-content">
            Сэкономить время и ресурсы на работу с отзывами
          </p>
        </li>
        <li class="help__item">
          <div class="help__circle">
            <img src="@img/h-4.svg" alt="icon" class="help__circle-icon" />
          </div>
          <p class="help__item-content">
            Увеличить трафик из поисковиков и карт за счёт высокого рейтинга и отзывов
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>