<section class="motivation">
  <div class="section-body">
    <img src="@img/frame-big.svg" alt="image" class="motivation__decor _big">
    <img src="@img/frame-min.svg" alt="image" class="motivation__decor _min">
    <div class="container motivation__container">
      <div class="motivation__info">
        <span class="section-tag motivation__tag">Мотивация</span>
        <h2 class="title-2 motivation__title">
          Дополнительная мотивация клиентов <span>оставить отзыв</span>
        </h2>
        <p class="content motivation__content">
          Вы сможете настроить получение бонуса для ваших клиентов за
          оставленный отзыв. Бонусом может быть – определённая сумма на баланс
          телефона, промокод из вашего списка или промокод сгенерированный нашей
          системой на любой бонус, который вы сможете предоставить своим
          клиентам.
        </p>
        <a href="#connection" class="btn-main motivation__btn _big anchor">Попробовать бесплатно</a>
      </div>
      <picture class="motivation__img">
        <source srcset="@img/motivation-2.png" media="(max-width: 744px)" />
        <img src="@img/motivation.png" alt="image" class="motivation__img" />
      </picture>
    </div>
  </div>
</section>
