<section class="negative" id="work">
  <div class="section-body">
    <div class="container negative__container">
      <div class="negative__info">
        <span class="section-tag negative__tag _gray">Статистика</span>
        <h2 class="title-2 negative__title">Перехват негатива</h2>
        <p class="content negative__contnet">
          Перейдя по ссылке или отсканировав QR-код, вашему клиенту будет
          предложено поставить оценку.
        </p>
        <a href="#" class="btn-main negative__btn _big"
          >Попробовать бесплатно</a
        >
      </div>
      <div class="swiper negative__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="@img/n-1.png" alt="image" class="negative__img" />
            <p class="negative__slider-content">
              Перейдя по ссылке или отсканировав QR-код, вашему клиенту будет
              предложено поставить оценку.
            </p>
          </div>
          <div class="swiper-slide">
            <img src="@img/n-2.png" alt="image" class="negative__img" />
            <p class="negative__slider-content">
              Если ваш клиент поставит оценку меньше 5 ⭐, то ему будет показана
              форма, в которой он сможет оставить свои замечания и получить
              обратную связь, тем самым негативный отзыв не оставлен на
              публичных площадках.
            </p>
          </div>
          <div class="swiper-slide">
            <img src="@img/n-3.png" alt="image" class="negative__img" />
            <p class="negative__slider-content">
              Если клиент поставить оценку 5 ⭐, то ему будет предложено
              оставить отзыв с получением бонуса через Telegram бота или
              оставить отзыв без бонуса по прямым ссылкам.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-pagination negative__pagination"></div>
  </div>
</section>
