<section class="qr">
  <div class="section-body _main qr__body">
    <img src="@img/frame-big-p.svg" alt="decor" class="qr__decor _big">
    <img src="@img/frame-min-p.svg" alt="decor" class="qr__decor _min">
    <div class="container qr__container">
      <div class="qr__info">
        <h2 class="qr__title">Собирайте отзывы с помощью QR-кода</h2>
        <p class="qr__content">
          Разместите QR-код на ресепшене, на столиках в кафе и ресторанах, на
          любом видном месте, где будут ваши клиенты
        </p>
        <a href="#" class="btn-main _white _big qr__btn">Зарегистрироваться</a>
      </div>
      <img src="@img/qr.png" alt="image" class="qr__img" />
    </div>
  </div>
</section>
