<section class="reviews">
  <div class="container reviews__container">
    <div class="reviews__body">
      <h2 class="title-3 reviews__item-title">Отзывы без Motive.Review</h2>
      <div class="reviews__row _one">
        <div class="reviews__item">
          <div class="reviews__item-circle">
            <div class="reviews__item-circle-wrapper">
              <span class="reviews__item-number">01</span>
              <img
                src="@img/smile-simple.png"
                alt="icon"
                class="reviews__item-icon _gray"
              />
            </div>
          </div>
          <p class="reviews__item-content">Ваш клиент</p>
        </div>
      </div>
    </div>
  </div>
</section>
