<section class="skills">
  <div class="section-body">
    <img src="@img/frame-big.svg" alt="image" class="skills__decor _big">
    <img src="@img/frame-min.svg" alt="image" class="skills__decor _min">
    <div class="container">
      <span class="section-tag skills__tag">teg</span>
      <h2 class="title-2 skills__title">Возможности сервиса</h2>
      <ul class="list skills__list">
        <li class="skills__item">
          <div class="skills__item-circle">
            <img src="@img/s-1.svg" alt="icon" class="skills__item-icon" />
          </div>
          <h5 class="skills__item-title">Сбор отзывов с популярных площадок</h5>
          <p class="content">
            Получайте оповещения о свежих отзывах в Telegram
          </p>
        </li>
        <li class="skills__item">
          <div class="skills__item-circle">
            <img src="@img/s-2.svg" alt="icon" class="skills__item-icon" />
          </div>
          <h5 class="skills__item-title">
            Настоящие отзывы от реальных клиентов
          </h5>
          <p class="content">
            Увеличение числа положительных отзывов на площадках
          </p>
        </li>
        <li class="skills__item">
          <div class="skills__item-circle">
            <img src="@img/s-3.svg" alt="icon" class="skills__item-icon" />
          </div>
          <h5 class="skills__item-title">
            Повышение рейтинга компании на картах
          </h5>
          <p class="content">
            Увеличится количество новых клиентов и прибыль. Повысится доверие к
            компании
          </p>
        </li>
        <li class="skills__item">
          <div class="skills__item-circle">
            <img src="@img/s-4.svg" alt="icon" class="skills__item-icon" />
          </div>
          <h5 class="skills__item-title">
            Улучшение сервиса и контроль за сотрудниками
          </h5>
          <p class="content">
            Если сотрудники некачественно оказали услугу, то клиент напишет в
            анонимной форме.
            <br />
            <br />
            Вы узнаете, что было не так, уладите с ним данный вопрос. И клиент
            не оставит плохой отзыв!
          </p>
        </li>
        <li class="skills__item">
          <div class="skills__item-circle">
            <img src="@img/s-5.svg" alt="icon" class="skills__item-icon" />
          </div>
          <h5 class="skills__item-title">
            Работа с отзывами влияет на место вашего сайта в поисковой выдачи
          </h5>
          <p class="content">
            Высокие оценки, регулярное появление новых отзывов от ваших клиентов
            и ответы на них положительно влияют место в поисковой выдаче
          </p>
        </li>
        <li class="skills__item">
          <div class="skills__item-circle">
            <img src="@img/s-6.svg" alt="icon" class="skills__item-icon" />
          </div>
          <h5 class="skills__item-title">
            Несколько вариантов мотивации оставить отзыв
          </h5>
          <p class="content">
            Возможность предложить бонус за оставленный отзыв в виде пополнения
            баланса мобильного телефона или промокода на бонус или скидку
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
