<section class="work-reviews">
  <div class="section-body work-reviews__body">
    <img src="@img/frame-big.svg" alt="image" class="work-reviews__decor _big" />
    <img src="@img/frame-min.svg" alt="image" class="work-reviews__decor _min" />
    <div class="container work-reviews__container">
      <div class="work-reviews__info">
        <span class="section-tag work-reviews__tag _gray">Статистика</span>
        <h2 class="title-2 work-reviews__title">
          Почему работа с отзывами — <span>это важно?</span>
        </h2>
        <ul class="list work-reviews__list">
          <li class="work-reviews__item">
            <span>9 из 10</span> клиентов ориентируются на отзывы при выборе
            товаров и услуг. Низкие рейтинги и негативные отзывы отпугивают
            покупателей, высокие рейтинги и положительные отзывы привлекают.
          </li>
          <li class="work-reviews__item">
            <span>94%</span> клиентов выбирают организации на картах с рейтингом
            не ниже 4 и большим количеством отзывов.
          </li>
          <li class="work-reviews__item">
            Недовольные клиенты чаще оставляют комментарии, чем люди довольные
            услугами.
          </li>
        </ul>
      </div>
      <img src="@img/work-reviews.svg" alt="images" class="work-reviews__img" />
    </div>
  </div>
</section>
