.btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  color: inherit;
}

.btn-main {
  @include flex-center;
  cursor: pointer;
  padding: 5px 18px;
  border-radius: 8px;
  background-color: var(--main);
  min-height: 48px;
  border: 1px solid var(--main);
  gap: 8px;

  font-size: 16px;
  font-weight: 500;
  color: white;

  transition: color .2s ease, background-color .2s ease, border-color .2s ease;
  @include hover {
    color: white;
    background-color: var(--black);
    border-color: var(--black);
  }

  &._big {
    font-size: 18px;
  }

  &._stroke {
    border-color: var(--strore);
    background-color: transparent;
    color: var(--black);
    @include hover {
      border-color: var(--main);
      color: var(--main);
    }
  }

  &._white {
    border-color: white;
    background-color: white;
    color: var(--main);
    @include hover {
      color: white;
      border-color: var(--black);
      background-color: var(--black);
    }
  }
  &._stroke-white {
    border-color: white;
    background-color: transparent;
    color: white;
    @include hover {
      color: white;
      border-color: var(--black);
      background-color: var(--black);
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
  }
}
